body {
    background-color: darkred;
}
.jumbotron {
    background-color: black;
    color: white;
}
.jumbotron-fluid {
    border-radius: 25px;
}
h2, h3, .panel-body, .display-3, .lead {
    font-family: 'Creepster', cursive;
}
.panel {
    border: solid;
}
.panel-title {
    color: white;
}
.panel-default>.panel-heading {
    background-color: black;
}
.reverse {
    color: white;
    background-color: black;
}


